[submodule "third_party/SDL2"]
	path = third_party/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "third_party/nana"]
	path = third_party/nana
	url = https://github.com/cnjinhao/nana.git
